html, body {
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
  background: var(--base-300);
  color: var(--grey-100);
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h5 {
  padding: 0;
  margin: 0;
}
